page-login {
  form {
    margin-bottom: 32px;
    button {
      margin-top: 20px;
    }
  }

  p {
    font-size: 0.8em;
    color: #d2d2d2;
  }

  ion-label {
    margin-left: 5px;
  }

  ion-input {
    padding: 5px;
  }

  .invalid {
    border-bottom: 1px solid #FF6153;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
  }
  ion-content {
    background: #20B2AA!important;
  }
  .m {
    width: 100%!important;
    margin-top: 80px!important;
    height: 100%!important;
  }
  ion-list {
    background-color: transparent;
  }
  .item-inner {
    background: transparent;
    margin: 0!important;
    padding: 0!important;
  }
  ion-item,
  ion-item:focus {
    background: transparent!important;
    outline: none!important;
  }
  .list .item-input:last-child,
  .text-input-wp {
    border: 0!important;
    border-bottom: 0!important;
    outline: none!important;
  }
  .text-input-wp {
    padding: 0!important;
    font-size: 14px!important;
  }
  .item {
    background-color: transparent;
    box-shadow: none!important;
    color: #fff!important;
    outline: none!important;
  }
  ion-input {
    background-color: transparent;
    border-bottom: 2px solid #fff;
    font-size: 14px!important;
  }
  ion-label {
    background-color: transparent;
    color: #fff!important;
  }
  *::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6)!important;
    font-size: 14px!important;
  }
  *:-moz-placeholder {
    color: rgba(255, 255, 255, 0.6)!important;
    font-size: 14px!important;
  }
  *:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6)!important;
    font-size: 14px!important;
  }
  .button {
    background: #fff!important;
    border-radius: 50px;
    box-shadow: none!important;
    color: #34495e;
    font-size: 14px!important;
    text-transform: capitalize!important;
  }
  img {
    border-radius: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    height: 80px;
    width: 80px;
  }
  a,
  a:hover,
  a:active,
  a:visited,
  a:focus {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px!important;
  }
  .c1{
    color:white;
  }
}
