page-post {
.m {
    margin-right:0px;
    font-size: 25px;
  }
  .l {
    width: 1px;
    height: 1px;
  }
  .n {
    width: 25px;
    height: 25px;
  }
  .fileupload {
    width: auto;
    height: auto;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
  }
  .fileupload input {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      opacity: 0.0;
      filter: alpha(opacity=0);
      font-size: auto;
      height: auto;
  }
  .ic{
    width: 300px;
    height: 300px;
  }
}
